/*general*/
:root {
  --accent-blue: #2196f3;
  --accent-background: #2f303a;
  --black: #000;
  --black-heading: #212121;
  --font: "Roboto", Arial, sans-serif;
  --font-logo: "Raleway", Arial, sans-serif;
  --grey: #757575;
  --icon: #afb1b8;
  --light-grey: #f5f4fa;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --white: #fff;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  color: var(--black-heading);
  font-family: var(--font);
  font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.active {
  color: var(--accent-blue);
}
.black-heading {
  color: var(--black-heading);
}
.blue {
  background-color: var(--accent-blue);
  border-color: var(--accent-blue);
}
.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
.grey {
  color: var(--grey);
}
.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  margin: -1px;
  white-space: nowrap;
  width: 1px;
}
.icon {
  fill: currentColor;
}
.icon:hover,
.icon:focus {
  color: var(--accent-blue);
}
.light-grey {
  background-color: var(--light-grey);
  border-color: var(--light-grey);
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.section {
  padding: 94px 0;
}
.sec-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 50px;
  text-align: center;
}
.sec-heading-img {
  height: 294px;
  width: 370px;
}
.white {
  color: var(--white);
}
