/*sec-clients*/
.clients {
  display: flex;
  gap: 30px;
  justify-content: center;
  &__client {
    height: 92px;
    width: 170px;
  }
  &__icon {
    fill: currentColor;
    display: block;
    height: 60px;
    width: 106px;
  }
  &__link {
    align-items: center;
    border: 1px solid var(--icon);
    border-radius: 4px;
    color: var(--icon);
    display: flex;
    justify-content: center;
    height: 100%;
    transition-duration: 250ms;
    transition-property: color, border-color;
    transition-timing-function: var(--timing-function);
    width: 100%;
  }
  &__link:hover,
  &__link:focus {
    border-color: var(--accent-blue);
    color: var(--accent-blue);
  }
}
